<div class="container">
  <div class="fs-2">Criar Lista de reprodução</div>
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Nome da lista</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="nome" name="nome">
    </div>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <input type="text" class="form-control" id="descricao" [(ngModel)]="descricao" name="descricao">
    </div>
    <button (click)="cadastarPlaylist()" class="btn btn-primary">Criar lista</button>
  </form>

  <div class="overflow-x-auto">
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let playlist of playlists | async">
          <th scope="row"> {{playlist.id}} </th>
          <td> {{playlist.nome}} </td>
          <td> {{playlist.descricao}} </td>
          <td>
            <button (click)="remover(playlist.nome)" class="me-2 text-danger bg-transparent border-0">Excluir</button>
            <a [routerLink]="['/playlist', playlist.nome]">Músicas</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
